{% load static %}
<!doctype html>
<html lang="fa-IR" dir="rtl">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hatef Deepfake Detection</title>
	<link href="{% static 'website/bootstrap.rtl.min.css' %}" rel="stylesheet" crossorigin="anonymous">
	<link href="{% static 'website/font/Vazirmatn-Variable-font-face.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link href="{% static 'website/css/index.css' %}" rel="stylesheet" crossorigin="anonymous">
</head>

<body>
	<h1>تشخیص جعل عمیق (Deepfake)</h1>
	<script src="{% static 'website/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
  <script src="{% static 'website/js/index.js' %}" crossorigin="anonymous"></script>
</body>

</html>
