* {
	font-family: Vazirmatn, sans-serif;
}

.bg-dark {
	background-color: #0D0D0D !important;
}

.text-emphasis,
.text-emphasis:hover {
	color: #00FCDB;
}

#banner {
	background-size: contain;
	background-repeat: no-repeat;
	min-height: 100vh;
}

.prim {
	color: #3500FC;
}

.btn-primary {
	background-color: #3500FC;
	border-color: #3500FC;
}

.btn-primary:hover {
	background-color: #1e008c;
	border-color: #1e008c;
}

@media screen and (max-width: 992px) {
	#banner {
		background-size: contain;
	}
	.prim, .banner-text {
		color: white !important;
	}
}
